.container {
    grid-template-rows: 70px 450px 150px;
}
.country {
    justify-content: flex-start;
}
.country p {
    padding-left: 15px;    
}
.footer-menus {
    justify-content: space-between;
}
.footer-menu-left li {
    padding: 5px;
    margin-left: 10px;
}
.footer-menu-right li {
    padding: 5px;
    margin-right: 10px;
}