* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 350px 150px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.menu ul {
    display: flex;
    margin-top: 10px;
}
.menu ul li {
    margin: 5px;
    list-style: none;
}
.menu ul li a {
    padding: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: black;
}
.menu ul li a:hover {
    text-decoration: underline;
}
.menu ul li .icon-menu:hover {
    opacity: 0.7;
}
.menu .iniciar-sesion {
    border-radius: 5px;
    padding: 7px 18px;
    color: white;
    background-color: rgb(75, 126, 194);
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 50px 50px;
    width: 100%;
    height: auto;
}
.main-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.main-logo img {
    width: 180px;
}
.main-insight {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-insight-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}
.main-insight-container:hover {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}
.main-insight-container .icon-lupa {
    width: 15px;
    height: 15px;
    background-image: url('../icons/lupa.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-insight-container input {
    width: 250px;
    height: auto;
    border: 1px solid white;
    outline: none;
}

.main-insight-container .icon-micro {
    width: 10px;
    height: 10px;
    background-image: url('../icons/micro.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.button-left,
.button-right {
    width: 100px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}
.button-left:hover,
.button-right:hover {
    background-color: whitesmoke;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
footer {
    display: grid;
    grid-template: 40px 110px / 1fr;
    width: 100%;
    height: auto;
    background-color: gray;
}
.country {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(161, 160, 160);
}
.country p {
    color: #f0f0f0;
}
.country p:hover {
    text-decoration: underline;
}
.footer-menus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}
.footer-menu-left li,
.footer-menu-right li {
    margin: 5px;
    list-style: none;
}
.footer-menu-left li a,
.footer-menu-right li a {
    text-decoration: none;
    color: white;
}
.footer-menu-left li a:hover,
.footer-menu-right li a:hover {
    text-decoration: underline;
}